*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo{
    height: 70px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    margin-top: 10px;
}
.todobox{
    /* height: 500px; */
    width: 500px;
    background-color: white;
    border-radius: 20px;
}
.todo input{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 15px;
    padding-left: 10px;
}
.todo input::placeholder{
    padding-left: 10px;
    font-size: 15px;
}
.todo button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    background-color: blue;
    color: white;
    font-size: 15px;
}
.list{
    /* display: flex; */
    width: 200px;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}
.list li{
    margin-top: 10px;
    list-style: none;
    margin-left: 80px;
}
.delete-Btn{
    margin-left: 200px;
    color: red;
}
.delete-Btn:hover{
    color: darkred;
}